@import "_color";
@import "_font";

// Contact-header
body {
  height: 140vh;
}
.header {
  border-bottom: none;
}
.mobile-header {
  visibility: hidden;
}
.laptop-menu a {
  font-size: 14px;
}
.contact-nav {
  font-weight: 600;
  background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
// STAR IMAGES
.star-img-1 {
  width: 18px;
  height: 25px;
  margin-top: 50px;
  margin-left: 205px;
  animation: pulse 2s infinite;
}
.star-img-2 {
  width: 26px;
  height: 32px;
  flex-shrink: 0;
  position: absolute;
  margin-top: -50px;
  margin-left: 500px;
  animation: pulse 2s infinite;
}
.star-img-3 {
  width: 30px;
  height: 36px;
  position: absolute;
  z-index: 3;
  flex-shrink: 0;
  margin-top: -143px;
  margin-left: 15px;
  animation: pulse 2s infinite;
}
.star-img-4 {
  width: 26px;
  height: 32px;
  flex-shrink: 0;
  position: absolute;
  margin-left: 625px;
  margin-top: -50px;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Scale the image up at 50% */
  }
  100% {
    transform: scale(1);
  }
}
.contact-section {
  width: 100%;
  display: flex;
}

// left view
.left {
  // padding: 150px;
  margin-top: 80px;
  width: 30%;
  margin-left: 188px;
}
.contact-info h2 {
  font-size: 25px;
  color: $light-purple;
  font-family: $header-font;
  font-weight: 600;
  margin-bottom: 17px;
}
.contact-info p {
  font-family: $text-font;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}
.contact-socials p {
  font-family: $text-font;
  font-size: 16px;
  font-weight: 400;
  color: $light-purple;
}
.contact-icon {
  height: 20px;
}

.contact-icon a {
  text-decoration: none;
}
.facebook-icon {
  margin: -5px 5px 0 5px;
}
.X-icon {
  margin: 5px 5px 2px 5px;
}

//  Right view
.right {
  width: 70%;
  margin-left: 80px;
}
.contact-form {
  margin-top: 30px;
  margin-left: 30px;
  width: 70%;
  padding: 20px 90px;
  height: auto;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: block;
}
.contact-form h3 {
  font-family: $text-font;
  color: $light-purple;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
}
.contact-form h3:first-child {
  margin-top: 55px;
}
.form-text {
  visibility: hidden;
}
.contact-form input {
  background-color: transparent;
  border: solid 1px #fff;
  padding: 10px;
  font-family: $text-font;
}
// input::placeholder {
//   color: #fff;
//   font-family: $text-font;

// }
// input:focus{
//   color: #fff;

// }
.contact-form input::placeholder {
  color: #fff;
  font-family: $text-font;
}
.contact-form input:focus {
  background: transparent;
  border: 1px solid white;
}
.contact-form input:hover {
  color: #fff;
}
.mobile-input {
  display: none;
}
.name-input {
  // margin-top: 20px;
  width: 100%;
}
.email-input {
  margin-top: 32px;
  width: 100%;
}
.message-input {
  margin-top: 29px;
  width: 100%;
  height: 70px;
  padding: 10px;
  padding-bottom: 50px;
  border: solid 1px #fff;
  background-color: transparent;
}
.message-input::placeholder {
  color: #fff;
  margin-left: 10px;
  font-family: $text-font;
}
.submit-btn {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 70px;
  border-radius: 0.25rem;
  background: $gradient;
  margin: 30px auto;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: $text-font;
  border: none;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.form-contact-socials {
  display: none;
}
@media screen and (max-width: 750px) {
  body {
    height: 130vh;
    scroll-behavior: smooth;
  }
  .header {
    display: none;
  }
  .mobile-header {
    visibility: visible;
    border: none;
  }
  .contact-backbtn {
    cursor: pointer;
  }
  svg {
    margin-top: 30px;
  }
  // STAR IMAGES
  .star-img-1 {
    width: 12px;
    height: 14px;
    margin-top: 0;
    margin-left: 180px;
  }
  .star-img-2 {
    width: 16px;
    height: 20px;
    flex-shrink: 0;
    position: absolute;
    margin-left: 320px;
    margin-top: 90px;
  }

  .star-img-3 {
    width: 12px;
    height: 14px;
    position: absolute;
    z-index: 3;
    flex-shrink: 0;
    margin-top: -153px;
    margin-left: 35px;
  }
  .star-img-4 {
    width: 12px;
    height: 14px;
    flex-shrink: 0;
    position: absolute;
    margin-left: 351px;
    margin-top: -220px;
  }

  .left {
    display: none;
  }

  .contact-section .right {
    width: 100%;
    margin-left: 0;
  }
  .contact-form {
    margin: 0 auto;
    width: 100%;
    padding: 0 40px;
    height: auto;
    border-radius: none;
    background: none;
    box-shadow: none;
    display: block;
    border: 0;
  }

  h3 {
    font-size: 20px;
    line-height: 1.5;
    padding: 0 10px;
    margin-left: -10px;
    margin-bottom: 20px;
  }
  h3:first-child {
    margin-bottom: 0px;
  }
  p.form-text {
    visibility: visible;
    font-family: $text-font;
    font-size: 12px;
    padding: 0 70px;
    margin-left: -70px;
    font-weight: 400;
  }
  .contact-form input {
    border-radius: 4px;
    color: #fff;
  }
  .team-name {
    padding: 10px;
  }
  .topic-input {
    padding: 10px;
  }
  .email-input {
    padding: 10px;
  }
  .contact-form input::placeholder {
    color: #fff;
    font-family: $text-font;
  }
  .contact-form input:focus {
    background: transparent;
    border: #fff;
  }
  .contact-form input:hover {
    color: #fff;
  }
  .desktop-input {
    display: none;
  }
  .mobile-input {
    display: block;
  }
  .team-name {
    margin-top: 30px;
    width: 100%;
  }
  .email-input {
    margin-top: 42px;
    width: 100%;
  }
  .topic-input {
    margin-top: 42px;
    width: 100%;
  }
  .message-input {
    margin-top: 29px;
    width: 100%;
    height: 100px;
    border: solid 1px #fff;
    background-color: transparent;
  }
  .message-input::placeholder {
    color: #fff;
  }

  .form-contact-socials {
    display: block;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
  }
  .form-contact-socials p {
    font-family: $text-font;
    font-size: 16px;
    font-weight: 400;
    color: $light-purple;
    margin-bottom: -10px;
  }

  .facebook-icon {
    margin: auto 10px;
  }
  .X-icon {
    margin: auto 10px;
  }
  .contact-icon {
    padding-bottom: 100px;
  }
  .contact-icon a {
    text-decoration: none;
  }
}
