@import "_color";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.18);
}

h2 {
  font-family: $header-font;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  span {
    color: $light-purple;
  }
}

.menu-icon {
  width: 1.1875rem;
  height: 0.875rem;
}

.mobile-menu {
  height: 30.75rem;
  border-radius: 0.5rem;
  border: 0.5px solid rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(30px);
  display: none;
  transition: 1s;
}

.mobile-menu-open {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.mobile-menu-closed {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
}

.close-menu-btn {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem;
}

ul {
  padding: 0px 50px 0px 50px;
  li {
    list-style: none;
    margin-bottom: 20px;
    a {
      text-decoration: none;
      color: $white;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.0625rem;
      cursor: pointer;
    }
  }
}

.register-btn {
  width: 10.75rem;
  height: 3.3125rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: $gradient;
  margin-left: 50px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  a {
    text-decoration: none;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

// Media Query for Laptops
@media (min-width: 992px) {
  .menu-icon {
    display: none;
  }
}
