@import "_color";
@import "_font";

// body {
//   height: 140vh;
// }
// header
.header {
  border-bottom: none;
}
.laptop-menu a { 
  font-size: 14px;
}
.contact-nav {
  font-weight: 600;
  background:
  //  linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
  $gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.register-button{
  border: 2px solid transparent;
  border-image: $gradient;
  border-image-slice: 1;
  width: 10.75rem;
    height: 3.3125rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    margin-left: 50px;
    a {
      text-decoration: none;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
}

 
.register-section{
  width: 100%;
  display: flex;
}

.register-left{
  width: 50%;
}

.register-right{
  width: 50%;
}
.registration-form h2:first-child{
  color: $light-purple;
font-family: $header-font;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 3;
margin-left: 36px;
}
.movement-text{
  color: #FFF;
font-family: $text-font;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 2;
margin-left: 36px;
}
.registration-form h4{
  color: #fff;
font-family: $text-font;
font-style: normal;
font-weight: 600;
line-height: 3;
margin-left: 36px;
}


.registration-form{
  margin-top: 30px;
  width: 85%;
  padding: 40px ;
  height: auto;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.form-flex{ 
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.category-group{
 display:flex ;
 justify-content: space-evenly;
 align-items: center;
  width: 100%;
   margin-top: 5px;

}
.input{
  
  display: flex;
  flex-direction: column;
  line-height: 3;
 
  

}
.input label{
  font-size: 12px;
}
.input input{
  background-color: transparent;
  border: solid 1px #fff;
  padding: 10px;
}
.input input::placeholder{
  color: #8f8d8d;
  font-size: 12px;
}
.category-input::placeholder{
  color: #FFF;
  font-size: 10px;
 
}.group-input::placeholder{
 color: #FFF;

}
.category-input, .group-input{
  display: flex;
  flex-direction: column;
  line-height: 2;
  label{
    font-size: 12px;
  }
}
.category-input  input{
  background-color: transparent;
  border: solid 1px #fff;
  padding: 10px;
}
.group-input input{
  background-color: transparent;
  border: solid 1px #fff;
  padding: 10px;

  
}
.review-text{
  margin-top: 15px;
  color: #FF26B9;
  font-size: 12px;
  margin-left: 36px;
}
// Terms and condition
.check-box{
 display: none;
}
.checkbox label{
  // display: block;
  position: relative;
  padding-left: 20px;
  margin-top: 15px;
  font-size: 12px;
   cursor: pointer;
   margin-left: 36px;
}
.label::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 15px;
  background-color: $dark-purple;
  border: 1px solid #fff;
  margin-top: 3px;
}
input[type="checkbox"]:checked + label::before::after{
content: "1273";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 15px;
color: #fff;
}
.registration-button{
  border-radius: 5px;
  width: 85%;
  height: 50px;
  border: none;
  color: #fff;
  margin-top: 30px;
  font-family: $text-font;
  background: $gradient;
  margin-left: 36px;
}
.little-image{
    display: none;
}

// modal
.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto ;
  width: 100%;
  text-align: center;
  height: 100vh;
  // margin-top: 50px;
  background: $dark-purple;

}

.image{
  display: flex;
  position: relative;
  justify-content: center ;
  align-items: center;
}

.successful-man{
position: absolute;
// right: 100px;
margin-left: 120px;
}
.modal h2{
  font-size: 20px;
  line-height: 1.5;
  font-family: $text-font;
}
.modal p{
  font-family: $text-font;
  padding: 0 50px;
  font-size: 12px;
  line-height: 1.2;
  margin-top: 10px;
}
.modal .back-btn{
  padding: 15px;
  background: $gradient;
  color: #fff;
  border: none;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 100px;
}
@media screen and (max-width: 900px){
  .header{
  display: none;}
  .registration-form{
    margin-top: 30px;
    padding: 0;
    width: 100%;
     padding: 40px 70px;
    background:none;
    box-shadow: none; 
  }
  .register-left{
    display: none;
  }
  .register-right{
    width: 100%;
    

  }
  .register-right form{
    width: 100%;
  }
  .registration-form h2{
   margin-top: -50px;
  
  }
  .little-image{
display: block;
margin: 0 auto;

  }
  .form-flex{ 
    display: block;
  
  }

  .input{
    
    display: flex;
    justify-content: center;
    padding: 0 40px;
    // margin-left: -40px;
  
  }
 
 
  .input input::placeholder{
 
    font-size: 11px;
  } 
  .category-group{
    display: flex;
    width: 100%;
    justify-content: start;
  }
  .group-input label{
    margin-left: 17px;
  }
  .category-input, .group-input{
    line-height: 2;
    label{
      font-size: 12px;
    }
  }
  .category-input {
    width: 60%;
    margin-left: 40px;
  }
  
 
 .group-input {
  width: 24%;
  margin-left: 10px;
    
  }
  .review-text{
    margin-top: 15px;
    color: #FF26B9;
    font-size: 12px;
    margin-left: 39px;
  }
  
  .registration-button{
    width: 40%;
    margin: 30px 100px 0 170px;
  
    
  }
  
}