@import "reset";
@import "variables";
@import "header-nav";
@import "feature";
@import "detail";
@import "faq";
@import "timeline";
body {
  background-color: $dark-purple;
  color: $white;
  font-family: "Montserrat", sans-serif;
}
